<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
                <input type="email" name="email" class="form-control" id="inputEmail" placeholder="email">
                <label for="inputEmail">Email</label>
                <input type="password" name="password" class="form-control" id="inputLoginPassword" placeholder="password">
                <label for="inputLoginPassword">Password</label>
                <button type="submit">login</button>
        </form>
    </div>
        <span>Don't have an account? Sign up 
        <a href="{% url 'signup' %}">here</a></span>
    </div>
                       
</body>
</html>