<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" placeholder="username" name="username" class="form-control" id="inputUsername">
                <label for="inputUsername">Username</label>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="email">
                        <label for="inputEmail">Email</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="tel" name="phone" class="form-control" id="inputPhone" placeholder="phone">
                        <label for="inputPhone">Phone</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="password">
                        <label for="inputPassword">Password</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="password" name="confirmPass" class="form-control" id="inputConfirmPassword" placeholder="password">
                        <label for="inputConfirmPassword">Confirm Password</label>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                <input class="btn btn-dark" type="submit" value="Sign Up"></input>
            </div>
        </form>
    </div>
    <div class="card-footer text-center py-3">
        <span class="small">Already have an account? Log in 
        <a href="{% url 'login' %}">here</a></span>
    </div>
    </div>
</body>
</html>